root { 
  display: block;
}

body {

  color: #666;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  background-color: #bdbdbd;
  background-image: url(../images/templatemo_body.jpg);
  background-repeat: repeat;
}

/* links */
a:link, a:visited {
  text-decoration: none;
  color: #1980AF;
}
a:hover { color: #147DB6; }
a:link.more, a:visited.more {
  float: left;
  margin-top: 20px;
  margin-right: 5px;
  padding: 6px 8px;
  border: 1px solid #2177A5;
  background-color: #227bad;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
a:hover.more {
  border: 1px solid #FF2B95;
  background-color: #FF3399;
}

h2 { 
  font-size: 28px; 
  margin: -10px 0 20px; 
  padding: 5px 100px 10px 0px; 
  font-weight: 400; 

}

/* Headers */
h1, h2, h3, h4, h5, h6 { 
  color: #333; 
  font-weight: normal;  
}

h1 { font-size: 3.7em; font-weight: normal; letter-spacing: -2px; }
h3 { font-size: 2.2em; font-weight: normal; letter-spacing: -0.5px; padding-top: 15px}
h4 { font-size: 1.5em; }

/* lists */
ul, ol {
  margin: 10px 25px;
  padding: 0 20px;
}
ul { list-style: disc; }
ol { list-style: decimal; }

dt {
  font-weight: bold;
  color: #1980AF;	
}


p { margin: 0 0 10px 0; 
    padding: 0;
    font-size:13px;
    text-shadow: 0px 1px 0px #ffffff;
}


code {
  margin: 3px 0;
  padding: 20px;
  text-align: left;
  display: block;
  overflow: auto;
  font: 500 1em/1.5em 'Lucida Console', 'Courier New', Monospace;
  white-space: pre; 
  border: 1px solid #e8e8e8;
  background: #F8F8F8;
  color: #555;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;

}


strong { font-weight: 700; color: #222; }

/* form elements */
#form {
  width: 600px;
  padding-right: 90px;
}



label {
  font-weight: bold;
  color: #666666;
}

.table
{
  /*width: 580px;*/
  text-align: center;
}


/* ------------------------------------------------------------------------------
    L A Y O U T
--------------------------------------------------------------------------------- */

/* header */
#site_head {

  background-image: url(../images/bck_headbw.jpg);
  background-repeat: repeat-x;
  border-bottom: 1px solid #fffffb;
  height: 70px;
  width: 100%;
  padding-right:10px; 
  padding-left: 10px;
  margin-left: -10px;
  margin-top: -10px;
  display: block;
}
.header_cont {
  width:960px;
  margin: auto;
  padding-top: 0px;
}

.header_cont h1 {
  font-weight: 400;
  text-align: center;
  padding-top:1px; 
  font-size: 40px;
  color: #222;
  text-shadow: -3px 2px 3px #555;
  border: #222;
  font-family: Arial,Helvetica,sans-serif;
}

.header_cont p {
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 700;
  text-shadow: -2px 1px 2px #555;
  font-size: 13px;
  text-align: center;
  color:#FFFFFF;

}

/* content */
#content {
  width: auto;
  margin: 0 auto;
  padding: 0 10px 20px 0;
  overflow: hidden;
}
#content-wrap {
  /*    clear: both;*/
  width: 930px;
  /* padding: 0 0 0 60px;*/
  padding-left:8%;
  padding-top: 30px
}

.content_box_top { 
  width: 900px; 
  height: 10px; 
  background: url(../images/templatemo_content_top.png) no-repeat; 
}

.content_box {
  clear: both;
  width: 800px;
  padding: 30px 50px 20px;
  background: url(../images/templatemo_content_middle.png) repeat-y;
}

.content_box_bottom { 
  width: 900px; 
  height:20px; 
  background: url(../images/templatemo_content_bottom.png) no-repeat; 
}


/* alignment classes & additional classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }
.no-border { border: none; }
.no-bg {	background: none; }

/* clearing */
.fix {
  clear: both;
  height: 1px;
  margin: -1px 0 0;
  overflow: hidden;
}
.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }


.image_wrapper { 
  display: inline-block; 
  position: relative; 
  margin: -20px 110px 44px 0; 
  padding: 5px; 
}

a.gototop { 
  display: block; 
  clear: both; 
  color: #333; 
  font-weight: 600; 
  text-decoration: none; 
  padding: 5px 0 5px 7px; 
  float: right; 
  width: 68px; 
  height: 20px; 
  margin-right: 135px; 
  margin-top: -40px;
  background: url(../images/templatemo_gototop.png) no-repeat; 
}

a.gototop:hover { 
  color: #1980AF; 
}

a.command {
  display: block; 
  clear: both; 
  color: #333; 
  font-weight: 600; 
  text-decoration: none; 
  padding: 5px 0 5px 7px; 
  float: right; 
  width: 68px; 
  height: 20px; 
  margin-right: -90px; 
  margin-top: -10px;
  background: url(../images/templatemo_gototop.png) no-repeat; 

}

a.command:hover {
  color: #1980AF; 
}